// _variables.scss (Kintamieji)
$primary-color: #ff7043b8;
$secondary-color: #ffccbc;
$bg-gradient: linear-gradient(to bottom right, #fff9f0, #fce4ec);
$text-color: #333;
$shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
$radius: 15px;
$font-main: 'Poppins', sans-serif;
